h2{
  color:rgb(158, 226, 201);
  text-align: center;
  font-size: medium;
  margin: 0 0 2em;
  font-family: Helvetica, sans-serif;
}

.container {
  margin-top: 7%;
  margin-bottom: 6%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.box{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 20%;
  margin: 10px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 1, 0.294) 0px 30px 60px -12px inset, rgba(3, 7, 22, 0.146) 0px 18px 36px -18px inset;
}

.bnt2{
  margin-top: auto;
  display: flex;
}

h5{
  color:rgb(28, 28, 86);
  text-align: center;
  font-family: fantasy;
}

p{
  font-style: italic;
  color:rgb(0, 0, 0);
  font-size: 1.2rem;
}

.container-image{
  max-width: 50%;
  max-height: 30%;
  object-fit: contain;
}

.button{
  position: reltive;
  margin-bottom: 0%;
  min-width: 25%;
  min-height: 40%;
  border: none;
  background: linear-gradient(to bottom right, #112a4a, #5186cc);
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #cecece;
  float: left;
}

.button:active {
  box-shadow: 0px 4px #1f6a95;
  transform: translateY(6px);
}

.fav{ 
  background: linear-gradient(to bottom right, #b89797, #f40505cc);
  float: right;
}

.fav:active{
  box-shadow: 0px 4px #ae3131;
  transform: translateY(6px);
}